<h1>Welcome to JG's online quiz</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to "Categories" , categories_path %><br/>
<%= link_to "Questions" , questions_path %><br/>
<%= link_to "Test your knowledge" , test_index_path %>
